body {
    font-family: "Montserrat";font-size: 16px;
  }
  ul {
  list-style-type: none;
  overflow: hidden;
  }
  li {
  font-weight: bold;
  width: 100%;
  margin-bottom: 2rem; 
  }
  .bb-title {
  position: relative;
  display: inline-block;
  }
  .bb-title::before {
  content: '';
  position: absolute;
  background-color: #7D18FD;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
  }
  .bb-title2 {
  position: relative;
  display: inline-block;
  }
  .bb-title2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
  }